<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pup.taguig.repository.CustomerMapper">

    <resultMap id="customerResultMap" type="com.pup.taguig.model.Customer">
        <id     column="id"         property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name"  property="lastName"/>
        <result column="email"      property="email"/>
        <result column="phone"      property="phone"/>
    </resultMap>

    <select id="getCustomerById" resultMap="customerResultMap">
        SELECT
            id,
            first_name,
            last_name,
            email,
            phone
        FROM customer
        WHERE
            id = #{id}
    </select>

    <insert id="addCustomer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer (first_name, last_name, email, phone)
        VALUES (#{firstName}, #{lastName}, #{email}, #{phone})
    </insert>

</mapper>
