<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pup.taguig.repository.ProductMapper">

    <insert id="insertProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (name, description, price, stock) 
        VALUES (
			#{name}, 
			#{description}, 
			#{price}, 
			#{stock}
		)
    </insert>
    
    <select id="getAllProducts" resultType="com.pup.taguig.model.Product">
        SELECT 
        * 
        FROM product
    </select>
    
    <select id="getProductById" resultType="com.pup.taguig.model.Product">
        SELECT 
        * 
        FROM product 
        WHERE 
        	id = #{id}
    </select>

</mapper>